* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  background-color: rgba(238, 203, 208, 0.87);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  justify-content: center;
  height: 185vh;
}

.container {
  margin: 3rem;
  width: 40vw;
  height: 170vh;
  background-color: white;
  border-radius: 1.3rem;
}

img {
  width: 100%;
  min-height: auto;
  border-radius: 1rem;
}
.img {
  padding: 3rem;
}

.text {
  padding: 0.5rem 3rem;
}

.text h1 {
  color: hsl(14, 45%, 36%);
  font-size: 2rem;
  font-weight: bold;
}

.text p {
  font-size: 1.2rem;
  line-height: 1.6;
}

.prep {
  background-color: rgba(236, 222, 224, 0.87);
  padding: 3rem;
  width: 90%;
  height: auto;
  margin-left: 3rem;
}

.prep h1 {
  color: hsl(14, 45%, 36%);
  font-size: 1.7rem;
  font-weight: bold;
}

.prep li {
  padding: 0.7rem;
  font-size: 1.1rem;
}

.ingred {
  margin: 2rem 5rem;
}

.ingred h1 {
  font-size: 1.7rem;
  color: hsl(14, 45%, 36%);
  font-weight: bold;
}

.ingred li {
  padding: 0.5rem;
  font-size: 1.1rem;
}

.instr {
  margin: 2rem 5rem;
}

.instr h1 {
  font-size: 1.7rem;
  color: hsl(14, 45%, 36%);
  font-weight: bold;
}

.instr li {
  padding: 0.5rem;
  font-size: 1.1rem;
  line-height: 1.5;
}

.nutri {
  margin: 2rem 5rem;
  margin-bottom: 2rem;
}

.nutri h1 {
  font-size: 1.7rem;
  color: hsl(14, 45%, 36%);
  font-weight: bold;
}

.nutri p {
  font-size: 1.2rem;
  line-height: 1.6;
}

table {
  width: 100%;
  display: flex;
}

tr {
  display: flex;
  gap: 18rem;
  padding-top: 2rem;
  justify-content: space-between;
  border-bottom: 1px solid grey;
  margin-bottom: 0.3rem;
  font-size: 1.1rem;
}

#energy {
  color: hsl(14, 45%, 36%);
  font-weight: 600;
}

#fist {
  font-weight: 200;
}

.attribution {
  text-align: center;
  font-size: 1.1rem;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/* Mobile-specific styles */
@media (max-width: 375px) {
  body {
    height: auto; /* Adjust height for mobile */
  }

  .container {
    margin: 0.5rem;
    width: 100%; /* Full width */
    height: 50%;
  }
  .img {
    padding: 0;
  }

  img {
    width: 100%;
  }

  .text h1 {
    font-size: 1.6rem; /* Adjust font size */
  }

  .text p {
    font-size: 1rem; /* Adjust font size */
    line-height: 1.5;
  }

  .prep {
    padding: 1.5rem; /* Reduced padding for mobile */
    margin-left: 0; /* No margin for mobile */
  }

  .prep h1 {
    font-size: 1.4rem; /* Smaller font for mobile */
  }

  .ingred,
  .instr,
  .nutri {
    margin: 0.5rem; /* Adjust margin */
  }

  .ingred h1,
  .instr h1,
  .nutri h1 {
    font-size: 1.5rem; /* Adjusted font size */
  }

  .ingred li,
  .instr li,
  .nutri p {
    font-size: 1rem; /* Adjusted font size */
  }

  table {
    display: block; /* Stacked table rows */
  }

  tr {
    display: block; /* Stack table rows */
    gap: 1rem; /* Reduced gap */
    padding-top: 1rem;
  }
}
