* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  background-color: rgba(238, 203, 208, 0.87);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  justify-content: center;
  height: 145rem;
}

.container {
  margin: 3rem;
  width: 40%;
  background-color: white;
  border-radius: 1.3rem;
}

img {
  width: 100%;
  min-height: auto;
  border-radius: 1rem;
}
.img {
  padding: 3rem;
}

.text {
  padding: 0.5rem 3rem;
}

.text h1 {
  color: hsl(14, 45%, 36%);
  font-size: 2rem;
  font-weight: bold;
}

.text p {
  font-size: 1.2rem;
  line-height: 1.6;
}

.prep {
  background-color: rgba(236, 222, 224, 0.87);
  padding: 3rem;
  width: 90%;
  height: auto;
  margin-left: 3rem;
}

.prep h1 {
  color: hsl(14, 45%, 36%);
  font-size: 1.7rem;
  font-weight: bold;
}

.prep li {
  padding: 0.7rem;
  font-size: 1.1rem;
}

.ingred {
  margin: 2rem 5rem;
}

.ingred h1 {
  font-size: 1.7rem;
  color: hsl(14, 45%, 36%);
  font-weight: bold;
}

.ingred li {
  padding: 0.5rem;
  font-size: 1.1rem;
}

.instr {
  margin: 2rem 5rem;
}

.instr h1 {
  font-size: 1.7rem;
  color: hsl(14, 45%, 36%);
  font-weight: bold;
}

.instr li {
  padding: 0.5rem;
  font-size: 1.1rem;
  line-height: 1.5;
}

.nutri {
  margin: 2rem 5rem;
}

.nutri h1 {
  font-size: 1.7rem;
  color: hsl(14, 45%, 36%);
  font-weight: bold;
}

.nutri p {
  font-size: 1.2rem;
  line-height: 1.6;
}

table {
  width: 100%;
  display: flex;
}

tr {
  display: flex;
  gap: 18rem;
  padding-top: 2rem;
  justify-content: space-between;
  border-bottom: 1px solid grey;
  margin-bottom: 0.3rem;
  font-size: 1.1rem;
}

#energy {
  color: hsl(14, 45%, 36%);
  font-weight: 600;
}

#fist {
  font-weight: 200;
}

.attribution {
  text-align: center;
  font-size: 1.1rem;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
